<!DOCTYPE html>
<html lang="en">
<head>
  <title>BLG 105E</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" type="text/css" href="style/style.css" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <!-- FOR ICONS -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous"> 

</head>
  
<body >
  
  <nav id ="id-navbar" class="navbar navbar-expand-sm  navbar-dark fixed-top ">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-center" id="collapsibleNavbar">
        <ul class="navbar-nav font-weight-bold">
        <li class="nav-item">
            <a class="nav-link" href="home.html">HOME</a>
        </li>
        <li class="nav-item soft-active">
            <a class="nav-link" href="courses.html">COURSES</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="instructors.html">INSTRUCTORS</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="profile.html">PROFILE</a>
        </li>    
        </ul>
    </div>  
  </nav>


  <div id="id-main" class="container mb-4">
    <div class="row justify-content-center mt-5">



      <div class="col-7">
        <div class="container">


          <ul class="list-group">
            <li class="list-group-item d-flex active">
              <div class="col font-weight-bold display-5">BLG 105E</div>
              <div class="col font-weight-bold">Intro. to C Prog.</div>
            </li>
            <li class="list-group-item d-flex">
              <div class="col font-weight-bold">Department</div>
              <div class="col">Computer Engineering</div>
            </li>
            <li class="list-group-item d-flex">
              <div class="col font-weight-bold">Lecturer</div>
              <div class="col">Hayri Turgut Uyar</div>
            </li>
            <li class="list-group-item d-flex">
              <div class="col font-weight-bold">Prerequisite/s</div>
              <div class="col">BLG 444E or BLG 422E</div>
            </li>
            <li class="list-group-item d-flex">
              <div class="col font-weight-bold">Outcome/s</div>
              <div class="col">C Programming, Coding  </div>
            </li>
            <li class="list-group-item d-flex">
              <div class="col font-weight-bold">CRN</div>
              <div class="col"><span class="badge badge-primary badge-pill">12447</span></div>
            </li>
            <li class="list-group-item d-flex">
              <div class="col font-weight-bold">Credit</div>
              <div class="col"><span class="badge badge-primary badge-pill">4.0</span></div>
            </li>
            <li class="list-group-item text-center">
              <div class="btn-group btn-group-lg p-2">
                <button type="button" class="btn btn-outline-warning font-weight-bold btn-sm">AA</button>
                <button type="button" class="btn btn-outline-warning font-weight-bold btn-sm">BA</button>
                <button type="button" class="btn btn-outline-warning font-weight-bold btn-sm">BB</button>
                <button type="button" class="btn btn-outline-warning font-weight-bold btn-sm">CB</button>
                <button type="button" class="btn btn-outline-warning font-weight-bold btn-sm">CC</button>
                <button type="button" class="btn btn-outline-warning font-weight-bold btn-sm">DC</button>
                <button type="button" class="btn btn-outline-warning font-weight-bold btn-sm">DD</button>
                <button type="button" class="btn btn-outline-danger font-weight-bold btn-sm">FF</button>
                <button type="button" class="btn btn-outline-dark font-weight-bold btn-sm">VF</button>
              </div>
            </li>
          </ul>

        </div>
      </div>

    </div>
  </div>


  <div class="cs-footer">
    <p>Copyright © 2019, All Rights Reserved, Nurdy Games</p>
  </div>

</body>
</html>