{% extends "layout.html" %}
{% block content %}
  <div class="row justify-content-center mt-5">
    <div class="col-5 justify-content-center">

      <div>  
        <h4 class="col p-0 font-weight-bold">Course Information</h4>
        <hr>
      </div>

      <form method="POST" action="">
        {{ form.hidden_tag() }}
        <div class="form-group input-group">
          <div class="input-group-prepend">
            <span class="input-group-text">{{ form.name.label.text }}</span>
          </div>
          {% if form.name.errors %}
            {{ form.name(class="form-control form-control-lg is-invalid") }}
            <div class="invalid-feedback">
                {% for error in form.name.errors %}
                <span>{{ error }}</span>
                {% endfor %}
            </div>
          {% else %}
            {{ form.name(class="form-control bg-light") }}
          {% endif %}
          <div class="input-group-prepend">
            <span class="input-group-text">{{ form.course_code.label.text }}</span>
          </div>
          {% if form.course_code.errors %}
            {{ form.course_code(class="form-control form-control-lg is-invalid") }}
            <div class="invalid-feedback">
                {% for error in form.course_code.errors %}
                <span>{{ error }}</span>
                {% endfor %}
            </div>
          {% else %}
            {{ form.course_code(class="form-control bg-light") }}
          {% endif %}
        </div>

        <div class="form-group">
          {{ form.department(class="form-group custom-select bg-ligh") }}
        </div>

        <div class="form-group d-flex">
          <div class="input-group pr-2">
            <div class="input-group-prepend">
              <span class="input-group-text">CRN</span>
            </div>
            {% if form.crn.errors %}
              {{ form.crn(class="form-control form-control-lg is-invalid") }}
              <div class="invalid-feedback">
                  {% for error in form.crn.errors %}
                  <span>{{ error }}</span>
                  {% endfor %}
              </div>
            {% else %}
              {{ form.crn(class="form-control bg-light") }}
            {% endif %}
          </div>

          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text">Credit</span>
            </div>
            {% if form.credit.errors %}
              {{ form.credit(class="form-control form-control-lg is-invalid") }}
              <div class="invalid-feedback">
                  {% for error in form.credit.errors %}
                  <span>{{ error }}</span>
                  {% endfor %}
              </div>
            {% else %}
              {{ form.credit(class="form-control bg-light") }}
            {% endif %}
          </div>
        </div>

        <div class="form-group d-flex">
          <div class="pr-2 p-0 col">
            <label for="sel2"><kbd>Outcome/s</kbd></label>
            {{ form.outcomes(class="form-control") }}
          </div>

          <div class="col p-0">
              <label for="sel2"><kbd>Prerequisite/s</kbd></label>
              {{ form.prerequisites(class="form-control") }}
          </div>
        </div>

        <div class="form-group form-check pl-0 float-right">
          {{ form.submit(class="csStdLink") }}
        </div>
      </form>

    </div>
  </div>
{% endblock content%}