<!DOCTYPE html>
<html lang="en">
<head>
  <title> {{ title }} </title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" type="text/css" href="style/style.css"/>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style/style.css')}}">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
  <!-- FOR ICONS -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous"> 

</head>
  
<body >
  
  <nav id ="id-navbar" class="navbar navbar-expand-sm  navbar-dark fixed-top ">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-center" id="collapsibleNavbar">
        <ul class="navbar-nav font-weight-bold">
        <li class="nav-item">
            <a class="nav-link" href="home.html">HOME</a>
        </li>
        <li class="nav-item soft-active">
            <a class="nav-link" href="courses.html">COURSES</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="instructors.html">INSTRUCTORS</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="profile.html">PROFILE</a>
        </li>    
        </ul>
    </div>  
  </nav>


  <div id="id-main" class="container mb-4">
    <div class="row justify-content-center mt-5">
      <div class="col-5 justify-content-center">

        <div>  
          <h4 class="col p-0 font-weight-bold">Course Information</h4>
          <hr>
        </div>

        <form method="POST" action="">
          {{ form.hidden_tag() }}
          <div class="form-group input-group">
            <div class="input-group-prepend">
              <span class="input-group-text">{{ form.name.label.text }}</span>
            </div>
            {% if form.name.errors %}
              {{ form.name(class="form-control form-control-lg is-invalid") }}
              <div class="invalid-feedback">
                  {% for error in form.name.errors %}
                  <span>{{ error }}</span>
                  {% endfor %}
              </div>
            {% else %}
              {{ form.name(class="form-control bg-light") }}
            {% endif %}
            <div class="input-group-prepend">
              <span class="input-group-text">{{ form.course_code.label.text }}</span>
            </div>
            {% if form.course_code.errors %}
              {{ form.course_code(class="form-control form-control-lg is-invalid") }}
              <div class="invalid-feedback">
                  {% for error in form.course_code.errors %}
                  <span>{{ error }}</span>
                  {% endfor %}
              </div>
            {% else %}
              {{ form.course_code(class="form-control bg-light") }}
            {% endif %}
          </div>

          <div class="form-group">
            {{ form.department(class="form-group custom-select bg-ligh") }}
          </div>

          <div class="form-group d-flex">
            <div class="input-group pr-2">
              <div class="input-group-prepend">
                <span class="input-group-text">CRN</span>
              </div>
              {% if form.crn.errors %}
                {{ form.crn(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.crn.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
              {% else %}
                {{ form.crn(class="form-control bg-light") }}
              {% endif %}
            </div>

            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text">Credit</span>
              </div>
              {% if form.credit.errors %}
                {{ form.credit(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.credit.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
              {% else %}
                {{ form.credit(class="form-control bg-light") }}
              {% endif %}
            </div>
          </div>

          <div class="form-group d-flex">
            <div class="pr-2 p-0 col">
              <label for="sel2"><kbd>Outcome/s</kbd></label>
              {{ form.outcomes(class="form-control") }}
            </div>

            <div class="col p-0">
                <label for="sel2"><kbd>Prerequisite/s</kbd></label>
                {{ form.prerequisites(class="form-control") }}
            </div>
          </div>

          <div class="form-group form-check pl-0 float-right">
            {{ form.submit(class="cs-std-link") }}
          </div>
        </form>
  
      </div>
    </div>
  </div>

  

  <div class="cs-footer">
    <p>Copyright © 2019, All Rights Reserved, Nurdy Games</p>
  </div>

</body>
</html>