{% extends "layout.html" %}
{% block content %}
  <div class="col-sm-4">
    <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="Search For Course">
        <div class="input-group-append">
          <button class="btn btn-outline-primary" type="submit">Bring</button>  
        </div>
    </div>

    <form>
      <select name="soft-department" class="custom-select mb-2">
        <option selected>Department</option>
        <option value="COEN">Computer Engineering</option>
        <option value="ECEN">Electronics and Communication Engineering</option>
        <option value="ARCH">Architecture</option>
      </select>
      <select name="soft-term" class="custom-select">
        <option selected>Term</option>
        <option value="volvo">Volvo</option>
        <option value="fiat">Fiat</option>
        <option value="audi">Audi</option>
      </select>
      <button type="submit" class="btn btn-outline-primary mt-2 float-right">Bring</button>
    </form>

  </div>

  <div class="col-sm-8">
    <div class="container">
      <h5>3 courses found</h5>
      <hr>
      <div class="list-group ">
        {% if courses %}
          {% for course in courses %}
            <div class="list-group-item list-group-item-action d-flex flex-column p-2">

              <div class="d-flex">
                <a href="{{ url_for('course', course_id=course.course_id) }}" class="d-flex col-10 pt-1 list-group-item-action">
                  <div class="col-3 p-0 font-weight-bold">{{ course.code }}</div>
                  <div class="col-5 p-0 pl-1">
                  {% if course.prerequisites %}
                    {% for prerequisite in course.prerequisites %}
                      {{ prerequisite }},
                    {% endfor %}
                  {% endif %}
                  </div>
                  <div class="col-3 p-0">                  
                    {% if course.outcomes %}
                      {% for outcome in course.outcomes %}
                        {{ outcome }},
                      {% endfor %}
                    {% endif %}
                  </div>
                </a>
                <div class="container">
                  <button type="button" class="btn btn-primary btn-sm float-right" data-toggle="collapse" data-target="#expand-id"><i class='fas fa-plus'></i></button>
                </div>
              </div>

              <div>
                <div id="expand-id" class="collapse btn-group btn-group float-right pt-2">
                  <button type="button" class="btn btn-outline-warning font-weight-bold btn-sm">AA</button>
                  <button type="button" class="btn btn-outline-warning font-weight-bold btn-sm">BA</button>
                  <button type="button" class="btn btn-outline-warning font-weight-bold btn-sm">BB</button>
                  <button type="button" class="btn btn-outline-warning font-weight-bold btn-sm">CB</button>
                  <button type="button" class="btn btn-outline-warning font-weight-bold btn-sm">CC</button>
                  <button type="button" class="btn btn-outline-warning font-weight-bold btn-sm">DC</button>
                  <button type="button" class="btn btn-outline-warning font-weight-bold btn-sm">DD</button>
                  <button type="button" class="btn btn-outline-danger font-weight-bold btn-sm">FF</button>
                  <button type="button" class="btn btn-outline-dark font-weight-bold btn-sm">VF</button>
                </div>
              </div>

            </div> 
          {% endfor %}
        {% endif %}


      </div>
    </div>
  </div>
{% endblock content%}