<!DOCTYPE html>
<html lang="en">
<head>
  <title>Hayri Turgut Uyar</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style/style.css')}}">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
  <!-- FOR ICONS -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
  <!-- FOR JQUERY -->

  <script> 
    $(function(){
      $("#Content").load("navbar.html"); 
    });
  </script> 

</head>

<body >

  <nav id ="id-navbar" class="navbar navbar-expand-sm  navbar-dark fixed-top ">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-center" id="collapsibleNavbar">
        <ul class="navbar-nav font-weight-bold">
        <li class="nav-item">
            <a class="nav-link" href="{{ url_for('home') }}">HOME</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ url_for('courses') }}">COURSES</a>
        </li>
        <li class="nav-item soft-active">
            <a class="nav-link" href="{{ url_for('instructors') }}">INSTRUCTORS</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ url_for('profile') }}">PROFILE</a>
        </li>    
        </ul>
    </div>  
  </nav>

  <div id="id-main" class="container mb-4">

    <div id="idInstructorName" class="row">
      <h1 class="col-5">{{ instructor.name }}</h1>
    </div>

    <hr>
    
    <div class="row">
      
      <div class="col-5 float-right">
        <ul class="list-group font-weight-bold">
          <li class="list-group-item d-flex justify-content-between align-items-center bg-warning">
            {{ instructor.title }}
          </li>
          <li class="list-group-item d-flex justify-content-between align-items-center">
            {{ instructor.department }}
          </li>
          <li class="list-group-item d-flex justify-content-between align-items-center">
            {{ instructor.email }}
          </li>
          <li class="list-group-item d-flex justify-content-between align-items-center">
            Given Courses
            <span class="badge badge-primary badge-pill">{{ instructor.course_count }}</span>
          </li>
        </ul>
      </div>

      <div class="col">
        <div class="container">
          <div class="list-group ">
            {% if instructor.courses %}
            {% for course in instructor.courses %}
            <div class="list-group-item list-group-item-action d-flex flex-column p-2">

              <div class="d-flex">
                <a href="course.html" class="d-flex col-10 pt-1 list-group-item-action">
                  <div class="col-3 p-0 font-weight-bold">{{ course.code }}</div> 
                  <div class="col-5 p-0 pl-1">
                    {% if course.prerequisites %}
                      {% for prerequisite in course.prerequisites %}
                        <a href="{{ url_for('course', course_id=prerequisite.course_id) }}">{{ prerequisite.name }}</a>
                      {% endfor %}
                    {% else %}
                      None
                    {% endif %}
                  </div>
                  <div class="col 3 p-0">
                    {% if course.outcomes %}           
                      {{ course.outcomes }}
                    {% else %}
                      None
                    {% endif %}
                  </div>
                </a>
                <div class="container">
                  <button type="button" class="btn btn-primary btn-sm float-right" data-toggle="collapse" data-target="#expand-id"><i class='fas fa-plus'></i></button>
                </div>
              </div>
              <div>
                <div id="expand-id" class="collapse btn-group btn-group float-right pt-2">
                  <button type="button" class="btn btn-outline-warning font-weight-bold btn-sm">AA</button>
                  <button type="button" class="btn btn-outline-warning font-weight-bold btn-sm">BA</button>
                  <button type="button" class="btn btn-outline-warning font-weight-bold btn-sm">BB</button>
                  <button type="button" class="btn btn-outline-warning font-weight-bold btn-sm">CB</button>
                  <button type="button" class="btn btn-outline-warning font-weight-bold btn-sm">CC</button>
                  <button type="button" class="btn btn-outline-warning font-weight-bold btn-sm">DC</button>
                  <button type="button" class="btn btn-outline-warning font-weight-bold btn-sm">DD</button>
                  <button type="button" class="btn btn-outline-danger font-weight-bold btn-sm">FF</button>
                  <button type="button" class="btn btn-outline-dark font-weight-bold btn-sm">VF</button>
                </div>
              </div>
            </div>
            {% endfor %}
          {% endif %}

          </div>
        </div>
      </div>

    
    </div>

  </div>


  
  <div class="cs-footer">
    <p>Copyright © 2019, All Rights Reserved, Nurdy Games</p>
  </div>

    
</body>
</html>