{% extends "layout.html" %}
{% block content %}
  <div class="col-6">

    <div class="d-flex">
      <h5 class="col p-0 font-weight-bold">User Information</h5>
      <a href="profileEditStud.html" class="cs-std-link float-right text-decoration-none">Edit</a>  
    </div>

    <table class="table">
      <tbody>
        <tr>
          <td class="font-weight-bold">User Type</td>
          <td>Student</td>
        </tr>
        <tr>
          <td class="font-weight-bold">Name</td>
          <td>Nurdoğan Karaman</td>
        </tr>
        <tr>
          <td class="font-weight-bold">Department</td>
          <td>Computer Engineering</td>
        </tr>
        <tr>
          <td class="font-weight-bold">Student ID</td>
          <td>190190190</td>
        </tr>
        <tr>
          <td class="font-weight-bold">Email</td>
          <td>karamann15@itu.edu.tr</td>
        </tr>
        <tr>
          <td class="font-weight-bold">Password</td>
          <td>********</td>
        </tr>
      </tbody>
    </table>
    
    <a href="login.html" id="id-logout" class="btn float-right">Logout</a>  
    

  </div>
{% endblock content%}

