{% extends "layout.html" %}
{% block content %}

          <div class="row justify-content-center m-0">
              <div id="myDiagramDiv" class="csDiagram" ></div>
              <textarea id="mySavedModel" style="visibility: hidden">
                { "class": "go.GraphLinksModel",
                  "nodeDataArray": [
                    {{ keys }}
                  ],
                  "linkDataArray": [
                    {{ cons }}
                  ]
                }
              </textarea>
              <div class="d-flex flex-column" style="position: fixed; bottom: 10em; right: 20em; z-index: 10;">
                <a href="{{ url_for('courseAdd') }}" class="cs-std-link float-right text-decoration-none">Add A Course</a>
                <a href="{{ url_for('outcomeAdd') }}" class="cs-std-link float-right text-decoration-none">Add An Outcome</a>
              </div>
          </div>

{% endblock content %}
