@font-face {
    font-family: myFont;
    src: url(BebasNeue-Regular.woff);
}
nav {
    font-family: Verdana;
    font-size: 1.2em;
    background: black;
}

#id-navbar  a{
    color: white;
}

#id-navbar .soft-active a{
    color: black;
    background: rgb(255, 255, 255);
}