@font-face {
    font-family: myFont;
    src: url(LemonMilk.otf);
}

html {
    height: 100%;
    box-sizing: border-box;
}
 
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
    overflow: a;
    color: red;
    position: relative;
    margin:0 auto;
    padding-bottom: 6rem;
    min-height: 93.3%;
}

  
  /* Hide scrollbar for Chrome, Safari and Opera */
::-webkit-scrollbar {
    display: none;
}
  
#id-main {
    padding: 2em;
    margin-top: 4em;
    position: relative;
    min-height: 100%;
    background-color: white;
}

#id-profile-body #id-main{
    padding-top: 6em;
}

#id-logout {
    background: rgb(255, 14, 74);
    color: white;
    font-weight: bold;
}

.cs-std-link {
    border: none;
    border-radius: 0.3em;
    padding: 0.8em;
    padding-top: 0.4em;
    padding-bottom: 0.4em;
    margin-bottom: 0.5em;
    font-weight: bold;
    text-align: center;
    color: white;
    background-color: rgb(46, 46, 46);
}

:hover.cs-std-link {    
    color: wh;
}

nav {
    font-family: myFont;
    font-size: 1.8em;
    background-image: url("8.jpg");
    background-position: center;
}

#idBody-Login {
    background-image: url("grayBackground.jpg");
    background: white;
}
#idBody-Login nav{
    background: bladck;
}
#idBody-Login #id-main {
    padding-top: 10%;
    background: transparent;
}
#idBody-Login .cs-footer {
    background: transparent;
}

#id-navbar  a{
    color: white;
}

#id-navbar  a:hover {
    -webkit-animation-name: animLink; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 0.3s; /* Safari 4.0 - 8.0 */
    animation-name: animLink;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
    animation-duration: 0.3s;
}
/* Safari 4.0 - 8.0 */
@-webkit-keyframes animLink {
    to {color: black;}
} 
/* Standard syntax */
@keyframes animLink {
    to {color: black;}
}

#id-navbar .soft-active a{
    color: black;
    position: relative;
    -webkit-animation-name: animLinkSelected; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 0.4s; /* Safari 4.0 - 8.0 */
    animation-name: animLinkSelected;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    animation-duration: 0.4s;
}
  /* Safari 4.0 - 8.0 */
@-webkit-keyframes animLinkSelected {
    0% {top: 0px;}
    50% {top: 8px;}
    100% {background: #ffd800; top: 0px;}
}
  /* Standard syntax */
@keyframes animLinkSelected {
    0% {top: 0px;}
    50% {top: 8px;}
    100% {background: #ffd800; top: 0px;}
}

#id-navbar  .softactive a:hover {
    background: #ffd800;;
}

#idInstructorName h1{
    font-family: myFont;
}

.cs-footer {
    position: absolute;
    height: 6em;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 2rem;
    background-color: #ececec;
    text-align: center;
}


