@font-face {
    font-family: myFont;
    src: url(LemonMilk.otf);
}

html {
    height: 100%;
    box-sizing: border-box;
}
 
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {  
    position: relative;
    margin:0 auto;
    min-height: 93.4%;

}
  
/* Hide scrollbar for Chrome, Safari and Opera */
::-webkit-scrollbar {
    display: none;
}

.csMain {
    padding: 2em;
    margin: 20em;
    margin-top: 4em;
    position: relative;
    min-height: 100%;
}

#Home { /* HOME MAIN */
    margin: 0em;
    padding: 0em;
    margin-left: 25em;
    margin-right: 25em;
    padding-bottom: 8.5em;  
}

#idHomeGuest h1 {
    font-family: myFont;
    font-size: 5em; 
    box-shadow: 0px 5px 10px rgb(41, 7, 95); 
    text-shadow: 0px 5px 30px rgb(0, 0, 0);
    color: whitesmoke;
    border-radius: 0.2em;
    background-image: url("a.gif");
}

#Login{
    padding-top: 10em;
}
#Register{
    padding-top: 10em;
}
#Profile{
    padding-top: 10em;
}

.csDiagram {
    border: none; 
    width: 100%;
    height: 48em;
    margin: 0em;
    padding: 0em;
}
.csHomeInst {
    border: none; 
    width: 100%;
    height: 52.5em;
    margin: 0em;
    padding: 0em;
}

#idDanger {
    background: #fe346e;
    padding: 0.8em;
    padding-top: 0.4em;
    padding-bottom: 0.4em;
    color: white;
    font-weight: bold;
}

.csStdLink {
    border: none;
    border-radius: 0.3em;
    padding: 0.8em;
    padding-top: 0.4em;
    padding-bottom: 0.4em;
    margin-bottom: 0.5em;
    font-weight: bold;
    text-align: center;
    color: white;
    background-color: #2e2e2e;
}

:hover.csStdLink {    
    color: white;
}

nav {
    font-family: myFont;
    font-size: 1.8em;
    background-image: url("8.jpg");
    background-position: center;
}

nav a{
    color: white;
}

nav  a:hover {
    color: white;
    -webkit-animation-name: animLink; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 0.3s; /* Safari 4.0 - 8.0 */
    animation-name: animLink;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
    animation-duration: 0.3s;
}
/* Safari 4.0 - 8.0 */
@-webkit-keyframes animLink {
    to {color: black;}
} 
/* Standard syntax */
@keyframes animLink {
    to {color: black;}
}

nav .soft-active a{
    color: black;
    position: relative;
    -webkit-animation-name: animLinkSelected; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 0.4s; /* Safari 4.0 - 8.0 */
    animation-name: animLinkSelected;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    animation-duration: 0.4s;
}
  /* Safari 4.0 - 8.0 */
@-webkit-keyframes animLinkSelected {
    0% {top: 0px;}
    50% {top: 8px;}
    100% {background: #ffd800; top: 0px;}
}
  /* Standard syntax */
@keyframes animLinkSelected {
    0% {top: 0px;}
    50% {top: 8px;}
    100% {background: #ffd800; top: 0px;}
}

nav  .softactive a:hover {
    background: #ffd800;;
}

#idInstructorName h1{
    font-family: myFont;
}


.cs-footer {
    position: absolute;
    height: 6em;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 2rem;
    background: whitesmoke;
    text-align: center;
}
