@font-face {
    font-family: myFont;
    src: url(LemonMilk.otf);
}

html {
    height: 100%;
    box-sizing: border-box;
}
 
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
    background-color: red;
    position: relative;
    margin: 0;
    padding-bottom: 6rem;
    min-height: 89.9%;
}

#main {
    padding: 1em;
    margin-top: 6em;
    position: relative;
    min-height: 100%;
}
  
nav {
    font-family: myFont;
    font-size: 1.8em;
    background: #004445;
}

#id-navbar  a{
    color: white;
}

#id-navbar .soft-active a{
    color: black;
    background: #ffd800;
}

.cs-footer {
    position: absolute;
    height: 6em;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 2rem;
    background-color: #ececec;
    text-align: center;
}
